/* #thumb{
    max-height: 30%;
    max-width: 30%;
} */

footer p {
    color: white;
    height: 100%;
    margin: 0;
    padding-top:  1vh;
    padding-bottom: 1vh;
}

body {
    background-color: grey;
    padding-top: 15vh;
}

.navbar-brand{
    background-color: green;
}

.card-img {
    width: 100%;
}

.navbar, .card, .card-body {
    padding: 0;
}

.card {
    min-width: 30vw;
    min-height: 30vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

img {
    height: 100%;
    width: 100%;
}
/* .card-img,.card-body,.card-img-overlay {
    margin-left: 1vw;
    margin-right: 1vw;
} */