/* #thumb{
    max-height: 30%;
    max-width: 30%;
} */

footer p {
    color: white;
    height: 100%;
    margin: 0;
    padding-top:  1vh;
    padding-bottom: 1vh;
}

p,label {
    font-size: large;
}
/* body {
    background-color: grey;
    padding-top: 15vh;
} */

/* .navbar-brand{
    background-color: green;
} */
.icon {
    width: 32px;
    height: 32px;
}

.card-img {
    width: 100%;
    height: 200px;
    padding-bottom: 2%;
    border-radius: 0;
}
/* style="height: 200px; width: 100%; display: block;"  */
/* .navbar, .card, .card-body {
    padding: 0;
} */

.card {
    min-width: 30vw;
    min-height: 30vh;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 95%;

}

#thumb{
    max-height: 400px;
    max-width: 500px;
    height: 400px;
    width: auto;
    border-radius: 100%;
}

/* img {
    height: 100%;
    width: auto;
    /* max-width: 400px; */
} */
/* .card-img,.card-body,.card-img-overlay {
    margin-left: 1vw;
    margin-right: 1vw;
} */